body {
    font-family: "Open-Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2{
    color: #3046c5;
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(to top,white, #0066ff);
    padding: 2rem 0;
}

.jumbotron {
    margin: 0;
    padding: 3rem;
    background-image: linear-gradient(to left,#0066ff,#0033ff,#330066, #000066); 
    color: white;
}

.row-content {
    padding: 5px 0;
    border-bottom: .1rem ridge;
    min-height: 200px;
}

.navbar {
    background-color:rgb(0, 132, 255);
}